<!-- extend from base layout -->
{% extends "base.html" %}

{% block header %}
<style type="text/css">
    .hero-unit {
        margin-top: 41px;
    }
</style>

<script>
    $(document).ready(function() {
        $("[data-toggle='popover']").popover()
    })
</script>
{% endblock %}

{% block navlinks %}
<li><a href="{{ url_for('doge_index', _external=True) }}">DogePoet</a></li>
<li><a href="{{ url_for('wordinator_index', _external=True) }}">Wordinator</a></li>
<li><a href="#about" data-toggle="modal">About</a></li>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="page-header">
                <h1>
                    {% for word in words -%}
                    {% if word[2]["Definition"] %}
                    <a href="{{ word[2]["DefinitionURL"] }}" data-toggle="popover" data-placement="bottom" data-html="true" data-trigger="hover" data-title="{{ word[2]["DefinitionSource"] }}" data-content="{{ '<h6>'+word[2]["Definition"]+'</h6>'|e}}">{{ word[1] }}</a>
                    {% elif word[2]["Abstract"] %}
                    <a href="{{ word[2]["AbstractURL"] }}" data-toggle="popover" data-placement="bottom" data-html="true" data-trigger="hover" data-title="{{ word[2]["AbstractSource"] }}" data-content="{{'<h6>'+word[2]["Abstract"]+'</h6>'|e}}">{{ word[1] }}</a>
                    {% else %}
                    {{ word[1] }}
                    {% endif %}
                    {% endfor %}
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <p class="lead">For each request a different two word phrase, or
            slug line, is generated. The words are chosen randomly from
            Princeton University's
            <a href="http://wordnet.princeton.edu/">WordNet</a> database.
            Dictionary definitions are powered by
            <a href="https://duckduckgo.com">DuckDuckGo</a>. Individual
            definition sources are attributed within definition popups.</p>

            <p>A url parameter of <tt>?mode=alliteration</tt> will make
            TwoSlug generate slug lines that begin with the same character.</p>

            <p>TwoSlug also has an API for requesting your own random slug
            lines. The API root is:</p>

            <p><tt>{{ url_for('twoslug_api', path='', _external=True)[:-1] }}</tt></p>

            <p>Each path segment beyond the API root requests an additional
            random word by word class. The following classes are supported.
            </p>

            <ul>
                <li><tt>verb</tt> for an English verb.</li>
                <li><tt>noun</tt> for an English noun.</li>
                <li><tt>adj</tt> for an English adjective.</li>
                <li><tt>adv</tt> for an English adverb.</li>
            </ul>

            <p>Return values are JSON objects with a single key
            <i>slugline</i>. The <i>slugline</i> value is a list of objects
            for each word in the slug line. These objects have two keys,
            <i>class</i> and <i>word</i> for the word class and chosen word
            respectively.</p>

<pre>{
  "slugline": [
    {
      "class": "verb",
      "word": "rebuild"
    },
    {
      "class": "noun",
      "word": "stearin"
    }
  ]
}</pre>

            <p>The sluglines generated for the main page are a verb followed by a
            noun. This is equivalent to requesting
            <tt>{{ url_for('twoslug_api', path='verb/noun', _external=True)[:-1] }}</tt></p>
        </div>
    </div>
</div>

<div id="about" class="modal hide fade" tabindex="-1" role="dialog" aria-labelled by="modalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="modalLabel">About TwoSlug</h3>
    </div>
    <div class="modal-body">
        <p class="lead">Created by
        <a href="http://www.aaroniles.net">Aaron Iles</a> in
        <a href="http://python.org">Python</a>. Implemented with
        <a href="http://flask.pocoo.org/">Flask</a>,
        <a href="http://jinja.pocoo.org/">Jinja</a> and
        <a href="http://docs.python-requests.org/">Requests</a>.
        Hosted by <a href="https://heroku.com">Heroku</a>.</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
{% endblock %}
